{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {% if variable1 %}
        <p>Our website is in maintenance mode. Please, come back later.</p>
    {% endif %}

    Testing 123

    {{ variable1|reverse }}<br>

    {{ random(['apple', 'orange', 'citrus']) }}<br>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/Users/ruben/src/ruben/todo/src/Controller/TestController.php</code></li>
        <li>Your template at <code>/Users/ruben/src/ruben/todo/templates/test/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
