{% extends 'base.html.twig' %}

{% block title %}Hello ListController!{% endblock %}

{% block body %}
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <nav>
        {% if app.user %}
            <span>Hola, {{ app.user.userIdentifier }}</span>
            <a href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <span> No hay usuario registrado </span>>
        {% endif %}
    </nav>
{% endblock %}
